<ion-item>
  <ion-avatar slot="start" class="stellar-object-wrapper">
    <div
      class="stellar-object"
      [ngClass]="stellarObject!.cssClass"
      [ngStyle]="{'width.%': stellarObject!.size, 'height.%': stellarObject!.size}"
    >
      <span></span>
    </div>
  </ion-avatar>
  <ion-label>
    <h2>{{stellarObject!.description}}</h2>
    <p>{{stellarObject!.cssClass}} {{stellarObject!.size}}</p>
  </ion-label>
  <div *ngIf="stellarObject.interactive" slot="end">
    <ion-button *ngIf="true" size="small" color="dark" fill="outline">Harvest</ion-button>
    <ion-text *ngIf="true" color="success"><ion-icon name="alert-circle-outline"></ion-icon>k</ion-text>
    <ion-text *ngIf="true" color="warning"><ion-icon name="alert-circle-outline"></ion-icon>Insufficient tech</ion-text>
  </div>
</ion-item>
